<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.tracedb.mapper.AdministrationSecondMapper">
  <resultMap id="BaseResultMap" type="com.zsl.tracedb.model.AdministrationSecond">
    <id column="second_administration_id" jdbcType="INTEGER" property="secondAdministrationId" />
    <result column="second_administration_name" jdbcType="VARCHAR" property="secondAdministrationName" />
    <result column="first_administration_id" jdbcType="INTEGER" property="firstAdministrationId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    second_administration_id, second_administration_name, first_administration_id
  </sql>
  <select id="selectByExample" parameterType="com.zsl.tracedb.model.AdministrationSecondExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from administration_second
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from administration_second
    where second_administration_id = #{secondAdministrationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from administration_second
    where second_administration_id = #{secondAdministrationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsl.tracedb.model.AdministrationSecondExample">
    delete from administration_second
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsl.tracedb.model.AdministrationSecond">
    <selectKey keyProperty="secondAdministrationId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into administration_second (second_administration_name, first_administration_id
      )
    values (#{secondAdministrationName,jdbcType=VARCHAR}, #{firstAdministrationId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zsl.tracedb.model.AdministrationSecond">
    <selectKey keyProperty="secondAdministrationId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into administration_second
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="secondAdministrationName != null">
        second_administration_name,
      </if>
      <if test="firstAdministrationId != null">
        first_administration_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="secondAdministrationName != null">
        #{secondAdministrationName,jdbcType=VARCHAR},
      </if>
      <if test="firstAdministrationId != null">
        #{firstAdministrationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsl.tracedb.model.AdministrationSecondExample" resultType="java.lang.Integer">
    select count(*) from administration_second
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update administration_second
    <set>
      <if test="record.secondAdministrationId != null">
        second_administration_id = #{record.secondAdministrationId,jdbcType=INTEGER},
      </if>
      <if test="record.secondAdministrationName != null">
        second_administration_name = #{record.secondAdministrationName,jdbcType=VARCHAR},
      </if>
      <if test="record.firstAdministrationId != null">
        first_administration_id = #{record.firstAdministrationId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update administration_second
    set second_administration_id = #{record.secondAdministrationId,jdbcType=INTEGER},
      second_administration_name = #{record.secondAdministrationName,jdbcType=VARCHAR},
      first_administration_id = #{record.firstAdministrationId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsl.tracedb.model.AdministrationSecond">
    update administration_second
    <set>
      <if test="secondAdministrationName != null">
        second_administration_name = #{secondAdministrationName,jdbcType=VARCHAR},
      </if>
      <if test="firstAdministrationId != null">
        first_administration_id = #{firstAdministrationId,jdbcType=INTEGER},
      </if>
    </set>
    where second_administration_id = #{secondAdministrationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsl.tracedb.model.AdministrationSecond">
    update administration_second
    set second_administration_name = #{secondAdministrationName,jdbcType=VARCHAR},
      first_administration_id = #{firstAdministrationId,jdbcType=INTEGER}
    where second_administration_id = #{secondAdministrationId,jdbcType=INTEGER}
  </update>
</mapper>