<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.tracedb.mapper.AllianceBusinesslSiteMapper">
  <resultMap id="BaseResultMap" type="com.zsl.tracedb.model.AllianceBusinesslSite">
    <id column="alliance_businessl_site_id" jdbcType="INTEGER" property="allianceBusinesslSiteId" />
    <result column="alliance_business_id" jdbcType="INTEGER" property="allianceBusinessId" />
    <result column="fourth_administration_id" jdbcType="INTEGER" property="fourthAdministrationId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    alliance_businessl_site_id, alliance_business_id, fourth_administration_id
  </sql>
  <select id="selectByExample" parameterType="com.zsl.tracedb.model.AllianceBusinesslSiteExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from alliance_businessl_site
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from alliance_businessl_site
    where alliance_businessl_site_id = #{allianceBusinesslSiteId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from alliance_businessl_site
    where alliance_businessl_site_id = #{allianceBusinesslSiteId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsl.tracedb.model.AllianceBusinesslSiteExample">
    delete from alliance_businessl_site
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsl.tracedb.model.AllianceBusinesslSite">
    <selectKey keyProperty="allianceBusinesslSiteId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into alliance_businessl_site (alliance_business_id, fourth_administration_id
      )
    values (#{allianceBusinessId,jdbcType=INTEGER}, #{fourthAdministrationId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zsl.tracedb.model.AllianceBusinesslSite">
    <selectKey keyProperty="allianceBusinesslSiteId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into alliance_businessl_site
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="allianceBusinessId != null">
        alliance_business_id,
      </if>
      <if test="fourthAdministrationId != null">
        fourth_administration_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="allianceBusinessId != null">
        #{allianceBusinessId,jdbcType=INTEGER},
      </if>
      <if test="fourthAdministrationId != null">
        #{fourthAdministrationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsl.tracedb.model.AllianceBusinesslSiteExample" resultType="java.lang.Integer">
    select count(*) from alliance_businessl_site
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update alliance_businessl_site
    <set>
      <if test="record.allianceBusinesslSiteId != null">
        alliance_businessl_site_id = #{record.allianceBusinesslSiteId,jdbcType=INTEGER},
      </if>
      <if test="record.allianceBusinessId != null">
        alliance_business_id = #{record.allianceBusinessId,jdbcType=INTEGER},
      </if>
      <if test="record.fourthAdministrationId != null">
        fourth_administration_id = #{record.fourthAdministrationId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update alliance_businessl_site
    set alliance_businessl_site_id = #{record.allianceBusinesslSiteId,jdbcType=INTEGER},
      alliance_business_id = #{record.allianceBusinessId,jdbcType=INTEGER},
      fourth_administration_id = #{record.fourthAdministrationId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsl.tracedb.model.AllianceBusinesslSite">
    update alliance_businessl_site
    <set>
      <if test="allianceBusinessId != null">
        alliance_business_id = #{allianceBusinessId,jdbcType=INTEGER},
      </if>
      <if test="fourthAdministrationId != null">
        fourth_administration_id = #{fourthAdministrationId,jdbcType=INTEGER},
      </if>
    </set>
    where alliance_businessl_site_id = #{allianceBusinesslSiteId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsl.tracedb.model.AllianceBusinesslSite">
    update alliance_businessl_site
    set alliance_business_id = #{allianceBusinessId,jdbcType=INTEGER},
      fourth_administration_id = #{fourthAdministrationId,jdbcType=INTEGER}
    where alliance_businessl_site_id = #{allianceBusinesslSiteId,jdbcType=INTEGER}
  </update>
</mapper>