<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.tracedb.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.zsl.tracedb.model.Category">
    <id column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_super_id" jdbcType="INTEGER" property="categorySuperId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_full_name" jdbcType="VARCHAR" property="categoryFullName" />
    <result column="category_level" jdbcType="INTEGER" property="categoryLevel" />
    <result column="include_brand" jdbcType="TINYINT" property="includeBrand" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    category_id, category_super_id, category_name, category_full_name, category_level, 
    include_brand
  </sql>
  <select id="selectByExample" parameterType="com.zsl.tracedb.model.CategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsl.tracedb.model.CategoryExample">
    delete from category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsl.tracedb.model.Category">
    <selectKey keyProperty="categoryId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into category (category_super_id, category_name, category_full_name, 
      category_level, include_brand)
    values (#{categorySuperId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, #{categoryFullName,jdbcType=VARCHAR}, 
      #{categoryLevel,jdbcType=INTEGER}, #{includeBrand,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zsl.tracedb.model.Category">
    <selectKey keyProperty="categoryId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categorySuperId != null">
        category_super_id,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="categoryFullName != null">
        category_full_name,
      </if>
      <if test="categoryLevel != null">
        category_level,
      </if>
      <if test="includeBrand != null">
        include_brand,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categorySuperId != null">
        #{categorySuperId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryFullName != null">
        #{categoryFullName,jdbcType=VARCHAR},
      </if>
      <if test="categoryLevel != null">
        #{categoryLevel,jdbcType=INTEGER},
      </if>
      <if test="includeBrand != null">
        #{includeBrand,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsl.tracedb.model.CategoryExample" resultType="java.lang.Integer">
    select count(*) from category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update category
    <set>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.categorySuperId != null">
        category_super_id = #{record.categorySuperId,jdbcType=INTEGER},
      </if>
      <if test="record.categoryName != null">
        category_name = #{record.categoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryFullName != null">
        category_full_name = #{record.categoryFullName,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryLevel != null">
        category_level = #{record.categoryLevel,jdbcType=INTEGER},
      </if>
      <if test="record.includeBrand != null">
        include_brand = #{record.includeBrand,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update category
    set category_id = #{record.categoryId,jdbcType=INTEGER},
      category_super_id = #{record.categorySuperId,jdbcType=INTEGER},
      category_name = #{record.categoryName,jdbcType=VARCHAR},
      category_full_name = #{record.categoryFullName,jdbcType=VARCHAR},
      category_level = #{record.categoryLevel,jdbcType=INTEGER},
      include_brand = #{record.includeBrand,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsl.tracedb.model.Category">
    update category
    <set>
      <if test="categorySuperId != null">
        category_super_id = #{categorySuperId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryFullName != null">
        category_full_name = #{categoryFullName,jdbcType=VARCHAR},
      </if>
      <if test="categoryLevel != null">
        category_level = #{categoryLevel,jdbcType=INTEGER},
      </if>
      <if test="includeBrand != null">
        include_brand = #{includeBrand,jdbcType=TINYINT},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsl.tracedb.model.Category">
    update category
    set category_super_id = #{categorySuperId,jdbcType=INTEGER},
      category_name = #{categoryName,jdbcType=VARCHAR},
      category_full_name = #{categoryFullName,jdbcType=VARCHAR},
      category_level = #{categoryLevel,jdbcType=INTEGER},
      include_brand = #{includeBrand,jdbcType=TINYINT}
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.zsl.tracedb.model.Category">
    <id column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_super_id" jdbcType="INTEGER" property="categorySuperId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_full_name" jdbcType="VARCHAR" property="categoryFullName" />
    <result column="category_level" jdbcType="INTEGER" property="categoryLevel" />
    <result column="include_brand" jdbcType="TINYINT" property="includeBrand" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    category_id, category_super_id, category_name, category_full_name, category_level, 
    include_brand
  </sql>
  <select id="selectByExample" parameterType="com.zsl.tracedb.model.CategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsl.tracedb.model.CategoryExample">
    delete from category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsl.tracedb.model.Category">
    <selectKey keyProperty="categoryId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into category (category_super_id, category_name, category_full_name, 
      category_level, include_brand)
    values (#{categorySuperId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, #{categoryFullName,jdbcType=VARCHAR}, 
      #{categoryLevel,jdbcType=INTEGER}, #{includeBrand,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zsl.tracedb.model.Category">
    <selectKey keyProperty="categoryId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categorySuperId != null">
        category_super_id,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="categoryFullName != null">
        category_full_name,
      </if>
      <if test="categoryLevel != null">
        category_level,
      </if>
      <if test="includeBrand != null">
        include_brand,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categorySuperId != null">
        #{categorySuperId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryFullName != null">
        #{categoryFullName,jdbcType=VARCHAR},
      </if>
      <if test="categoryLevel != null">
        #{categoryLevel,jdbcType=INTEGER},
      </if>
      <if test="includeBrand != null">
        #{includeBrand,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsl.tracedb.model.CategoryExample" resultType="java.lang.Integer">
    select count(*) from category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update category
    <set>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.categorySuperId != null">
        category_super_id = #{record.categorySuperId,jdbcType=INTEGER},
      </if>
      <if test="record.categoryName != null">
        category_name = #{record.categoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryFullName != null">
        category_full_name = #{record.categoryFullName,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryLevel != null">
        category_level = #{record.categoryLevel,jdbcType=INTEGER},
      </if>
      <if test="record.includeBrand != null">
        include_brand = #{record.includeBrand,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update category
    set category_id = #{record.categoryId,jdbcType=INTEGER},
      category_super_id = #{record.categorySuperId,jdbcType=INTEGER},
      category_name = #{record.categoryName,jdbcType=VARCHAR},
      category_full_name = #{record.categoryFullName,jdbcType=VARCHAR},
      category_level = #{record.categoryLevel,jdbcType=INTEGER},
      include_brand = #{record.includeBrand,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsl.tracedb.model.Category">
    update category
    <set>
      <if test="categorySuperId != null">
        category_super_id = #{categorySuperId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryFullName != null">
        category_full_name = #{categoryFullName,jdbcType=VARCHAR},
      </if>
      <if test="categoryLevel != null">
        category_level = #{categoryLevel,jdbcType=INTEGER},
      </if>
      <if test="includeBrand != null">
        include_brand = #{includeBrand,jdbcType=TINYINT},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsl.tracedb.model.Category">
    update category
    set category_super_id = #{categorySuperId,jdbcType=INTEGER},
      category_name = #{categoryName,jdbcType=VARCHAR},
      category_full_name = #{categoryFullName,jdbcType=VARCHAR},
      category_level = #{categoryLevel,jdbcType=INTEGER},
      include_brand = #{includeBrand,jdbcType=TINYINT}
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
</mapper>