<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.tracedb.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.zsl.tracedb.model.Goods">
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="merchant_id" jdbcType="INTEGER" property="merchantId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_full_name" jdbcType="VARCHAR" property="categoryFullName" />
    <result column="goods_creat_time" jdbcType="TIMESTAMP" property="goodsCreatTime" />
    <result column="goods_update_time" jdbcType="TIMESTAMP" property="goodsUpdateTime" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="video_name" jdbcType="VARCHAR" property="videoName" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="cargo" jdbcType="TINYINT" property="cargo" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="produced_time" jdbcType="TIMESTAMP" property="producedTime" />
    <result column="template_id" jdbcType="INTEGER" property="templateId" />
    <result column="international_sales" jdbcType="TINYINT" property="internationalSales" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    goods_id, goods_name, merchant_id, category_id, category_full_name, goods_creat_time, 
    goods_update_time, brand_id, video_name, video_url, cargo, source, location, phone, 
    operator, produced_time, template_id, international_sales
  </sql>
  <select id="selectByExample" parameterType="com.zsl.tracedb.model.GoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsl.tracedb.model.GoodsExample">
    delete from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsl.tracedb.model.Goods">
    <selectKey keyProperty="goodsId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods (goods_name, merchant_id, category_id, 
      category_full_name, goods_creat_time, goods_update_time, 
      brand_id, video_name, video_url, 
      cargo, source, location, 
      phone, operator, produced_time, 
      template_id, international_sales)
    values (#{goodsName,jdbcType=VARCHAR}, #{merchantId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, 
      #{categoryFullName,jdbcType=VARCHAR}, #{goodsCreatTime,jdbcType=TIMESTAMP}, #{goodsUpdateTime,jdbcType=TIMESTAMP}, 
      #{brandId,jdbcType=INTEGER}, #{videoName,jdbcType=VARCHAR}, #{videoUrl,jdbcType=VARCHAR}, 
      #{cargo,jdbcType=TINYINT}, #{source,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{producedTime,jdbcType=TIMESTAMP}, 
      #{templateId,jdbcType=INTEGER}, #{internationalSales,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zsl.tracedb.model.Goods">
    <selectKey keyProperty="goodsId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="categoryFullName != null">
        category_full_name,
      </if>
      <if test="goodsCreatTime != null">
        goods_creat_time,
      </if>
      <if test="goodsUpdateTime != null">
        goods_update_time,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="videoName != null">
        video_name,
      </if>
      <if test="videoUrl != null">
        video_url,
      </if>
      <if test="cargo != null">
        cargo,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="producedTime != null">
        produced_time,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
      <if test="internationalSales != null">
        international_sales,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryFullName != null">
        #{categoryFullName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCreatTime != null">
        #{goodsCreatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsUpdateTime != null">
        #{goodsUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="videoName != null">
        #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="cargo != null">
        #{cargo,jdbcType=TINYINT},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="producedTime != null">
        #{producedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=INTEGER},
      </if>
      <if test="internationalSales != null">
        #{internationalSales,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsl.tracedb.model.GoodsExample" resultType="java.lang.Integer">
    select count(*) from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goods
    <set>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsName != null">
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantId != null">
        merchant_id = #{record.merchantId,jdbcType=INTEGER},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.categoryFullName != null">
        category_full_name = #{record.categoryFullName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsCreatTime != null">
        goods_creat_time = #{record.goodsCreatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.goodsUpdateTime != null">
        goods_update_time = #{record.goodsUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.brandId != null">
        brand_id = #{record.brandId,jdbcType=INTEGER},
      </if>
      <if test="record.videoName != null">
        video_name = #{record.videoName,jdbcType=VARCHAR},
      </if>
      <if test="record.videoUrl != null">
        video_url = #{record.videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.cargo != null">
        cargo = #{record.cargo,jdbcType=TINYINT},
      </if>
      <if test="record.source != null">
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null">
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null">
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.producedTime != null">
        produced_time = #{record.producedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.templateId != null">
        template_id = #{record.templateId,jdbcType=INTEGER},
      </if>
      <if test="record.internationalSales != null">
        international_sales = #{record.internationalSales,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goods
    set goods_id = #{record.goodsId,jdbcType=INTEGER},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      merchant_id = #{record.merchantId,jdbcType=INTEGER},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      category_full_name = #{record.categoryFullName,jdbcType=VARCHAR},
      goods_creat_time = #{record.goodsCreatTime,jdbcType=TIMESTAMP},
      goods_update_time = #{record.goodsUpdateTime,jdbcType=TIMESTAMP},
      brand_id = #{record.brandId,jdbcType=INTEGER},
      video_name = #{record.videoName,jdbcType=VARCHAR},
      video_url = #{record.videoUrl,jdbcType=VARCHAR},
      cargo = #{record.cargo,jdbcType=TINYINT},
      source = #{record.source,jdbcType=VARCHAR},
      location = #{record.location,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      operator = #{record.operator,jdbcType=VARCHAR},
      produced_time = #{record.producedTime,jdbcType=TIMESTAMP},
      template_id = #{record.templateId,jdbcType=INTEGER},
      international_sales = #{record.internationalSales,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsl.tracedb.model.Goods">
    update goods
    <set>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryFullName != null">
        category_full_name = #{categoryFullName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCreatTime != null">
        goods_creat_time = #{goodsCreatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsUpdateTime != null">
        goods_update_time = #{goodsUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="videoName != null">
        video_name = #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="cargo != null">
        cargo = #{cargo,jdbcType=TINYINT},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="producedTime != null">
        produced_time = #{producedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=INTEGER},
      </if>
      <if test="internationalSales != null">
        international_sales = #{internationalSales,jdbcType=TINYINT},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsl.tracedb.model.Goods">
    update goods
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      merchant_id = #{merchantId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      category_full_name = #{categoryFullName,jdbcType=VARCHAR},
      goods_creat_time = #{goodsCreatTime,jdbcType=TIMESTAMP},
      goods_update_time = #{goodsUpdateTime,jdbcType=TIMESTAMP},
      brand_id = #{brandId,jdbcType=INTEGER},
      video_name = #{videoName,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      cargo = #{cargo,jdbcType=TINYINT},
      source = #{source,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      produced_time = #{producedTime,jdbcType=TIMESTAMP},
      template_id = #{templateId,jdbcType=INTEGER},
      international_sales = #{internationalSales,jdbcType=TINYINT}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
</mapper>