<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.tracedb.mapper.ImageFileMapper">
  <resultMap id="BaseResultMap" type="com.zsl.tracedb.model.ImageFile">
    <id column="img_id" jdbcType="VARCHAR" property="imgId" />
    <result column="img_location_server" jdbcType="VARCHAR" property="imgLocationServer" />
    <result column="img_location" jdbcType="VARCHAR" property="imgLocation" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="img_system_id" jdbcType="VARCHAR" property="imgSystemId" />
    <result column="img_flag" jdbcType="VARCHAR" property="imgFlag" />
    <result column="img_attribute" jdbcType="VARCHAR" property="imgAttribute" />
    <result column="img_specific_unique_value" jdbcType="VARCHAR" property="imgSpecificUniqueValue" />
    <result column="img_param" jdbcType="VARCHAR" property="imgParam" />
    <result column="img_remark" jdbcType="VARCHAR" property="imgRemark" />
    <result column="img_type" jdbcType="VARCHAR" property="imgType" />
    <result column="img_create_time" jdbcType="TIMESTAMP" property="imgCreateTime" />
    <result column="img_update_time" jdbcType="TIMESTAMP" property="imgUpdateTime" />
    <result column="img_open_flag" jdbcType="VARCHAR" property="imgOpenFlag" />
    <result column="img_status" jdbcType="INTEGER" property="imgStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    img_id, img_location_server, img_location, img_url, img_system_id, img_flag, img_attribute, 
    img_specific_unique_value, img_param, img_remark, img_type, img_create_time, img_update_time, 
    img_open_flag, img_status
  </sql>
  <select id="selectByExample" parameterType="com.zsl.tracedb.model.ImageFileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from image_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from image_file
    where img_id = #{imgId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from image_file
    where img_id = #{imgId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsl.tracedb.model.ImageFileExample">
    delete from image_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsl.tracedb.model.ImageFile">
    insert into image_file (img_id, img_location_server, img_location, 
      img_url, img_system_id, img_flag, 
      img_attribute, img_specific_unique_value, img_param, 
      img_remark, img_type, img_create_time, 
      img_update_time, img_open_flag, img_status
      )
    values (#{imgId,jdbcType=VARCHAR}, #{imgLocationServer,jdbcType=VARCHAR}, #{imgLocation,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{imgSystemId,jdbcType=VARCHAR}, #{imgFlag,jdbcType=VARCHAR}, 
      #{imgAttribute,jdbcType=VARCHAR}, #{imgSpecificUniqueValue,jdbcType=VARCHAR}, #{imgParam,jdbcType=VARCHAR}, 
      #{imgRemark,jdbcType=VARCHAR}, #{imgType,jdbcType=VARCHAR}, #{imgCreateTime,jdbcType=TIMESTAMP}, 
      #{imgUpdateTime,jdbcType=TIMESTAMP}, #{imgOpenFlag,jdbcType=VARCHAR}, #{imgStatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zsl.tracedb.model.ImageFile">
    insert into image_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="imgId != null">
        img_id,
      </if>
      <if test="imgLocationServer != null">
        img_location_server,
      </if>
      <if test="imgLocation != null">
        img_location,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="imgSystemId != null">
        img_system_id,
      </if>
      <if test="imgFlag != null">
        img_flag,
      </if>
      <if test="imgAttribute != null">
        img_attribute,
      </if>
      <if test="imgSpecificUniqueValue != null">
        img_specific_unique_value,
      </if>
      <if test="imgParam != null">
        img_param,
      </if>
      <if test="imgRemark != null">
        img_remark,
      </if>
      <if test="imgType != null">
        img_type,
      </if>
      <if test="imgCreateTime != null">
        img_create_time,
      </if>
      <if test="imgUpdateTime != null">
        img_update_time,
      </if>
      <if test="imgOpenFlag != null">
        img_open_flag,
      </if>
      <if test="imgStatus != null">
        img_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="imgId != null">
        #{imgId,jdbcType=VARCHAR},
      </if>
      <if test="imgLocationServer != null">
        #{imgLocationServer,jdbcType=VARCHAR},
      </if>
      <if test="imgLocation != null">
        #{imgLocation,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="imgSystemId != null">
        #{imgSystemId,jdbcType=VARCHAR},
      </if>
      <if test="imgFlag != null">
        #{imgFlag,jdbcType=VARCHAR},
      </if>
      <if test="imgAttribute != null">
        #{imgAttribute,jdbcType=VARCHAR},
      </if>
      <if test="imgSpecificUniqueValue != null">
        #{imgSpecificUniqueValue,jdbcType=VARCHAR},
      </if>
      <if test="imgParam != null">
        #{imgParam,jdbcType=VARCHAR},
      </if>
      <if test="imgRemark != null">
        #{imgRemark,jdbcType=VARCHAR},
      </if>
      <if test="imgType != null">
        #{imgType,jdbcType=VARCHAR},
      </if>
      <if test="imgCreateTime != null">
        #{imgCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="imgUpdateTime != null">
        #{imgUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="imgOpenFlag != null">
        #{imgOpenFlag,jdbcType=VARCHAR},
      </if>
      <if test="imgStatus != null">
        #{imgStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsl.tracedb.model.ImageFileExample" resultType="java.lang.Integer">
    select count(*) from image_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update image_file
    <set>
      <if test="record.imgId != null">
        img_id = #{record.imgId,jdbcType=VARCHAR},
      </if>
      <if test="record.imgLocationServer != null">
        img_location_server = #{record.imgLocationServer,jdbcType=VARCHAR},
      </if>
      <if test="record.imgLocation != null">
        img_location = #{record.imgLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl != null">
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.imgSystemId != null">
        img_system_id = #{record.imgSystemId,jdbcType=VARCHAR},
      </if>
      <if test="record.imgFlag != null">
        img_flag = #{record.imgFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.imgAttribute != null">
        img_attribute = #{record.imgAttribute,jdbcType=VARCHAR},
      </if>
      <if test="record.imgSpecificUniqueValue != null">
        img_specific_unique_value = #{record.imgSpecificUniqueValue,jdbcType=VARCHAR},
      </if>
      <if test="record.imgParam != null">
        img_param = #{record.imgParam,jdbcType=VARCHAR},
      </if>
      <if test="record.imgRemark != null">
        img_remark = #{record.imgRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.imgType != null">
        img_type = #{record.imgType,jdbcType=VARCHAR},
      </if>
      <if test="record.imgCreateTime != null">
        img_create_time = #{record.imgCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.imgUpdateTime != null">
        img_update_time = #{record.imgUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.imgOpenFlag != null">
        img_open_flag = #{record.imgOpenFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.imgStatus != null">
        img_status = #{record.imgStatus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update image_file
    set img_id = #{record.imgId,jdbcType=VARCHAR},
      img_location_server = #{record.imgLocationServer,jdbcType=VARCHAR},
      img_location = #{record.imgLocation,jdbcType=VARCHAR},
      img_url = #{record.imgUrl,jdbcType=VARCHAR},
      img_system_id = #{record.imgSystemId,jdbcType=VARCHAR},
      img_flag = #{record.imgFlag,jdbcType=VARCHAR},
      img_attribute = #{record.imgAttribute,jdbcType=VARCHAR},
      img_specific_unique_value = #{record.imgSpecificUniqueValue,jdbcType=VARCHAR},
      img_param = #{record.imgParam,jdbcType=VARCHAR},
      img_remark = #{record.imgRemark,jdbcType=VARCHAR},
      img_type = #{record.imgType,jdbcType=VARCHAR},
      img_create_time = #{record.imgCreateTime,jdbcType=TIMESTAMP},
      img_update_time = #{record.imgUpdateTime,jdbcType=TIMESTAMP},
      img_open_flag = #{record.imgOpenFlag,jdbcType=VARCHAR},
      img_status = #{record.imgStatus,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsl.tracedb.model.ImageFile">
    update image_file
    <set>
      <if test="imgLocationServer != null">
        img_location_server = #{imgLocationServer,jdbcType=VARCHAR},
      </if>
      <if test="imgLocation != null">
        img_location = #{imgLocation,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="imgSystemId != null">
        img_system_id = #{imgSystemId,jdbcType=VARCHAR},
      </if>
      <if test="imgFlag != null">
        img_flag = #{imgFlag,jdbcType=VARCHAR},
      </if>
      <if test="imgAttribute != null">
        img_attribute = #{imgAttribute,jdbcType=VARCHAR},
      </if>
      <if test="imgSpecificUniqueValue != null">
        img_specific_unique_value = #{imgSpecificUniqueValue,jdbcType=VARCHAR},
      </if>
      <if test="imgParam != null">
        img_param = #{imgParam,jdbcType=VARCHAR},
      </if>
      <if test="imgRemark != null">
        img_remark = #{imgRemark,jdbcType=VARCHAR},
      </if>
      <if test="imgType != null">
        img_type = #{imgType,jdbcType=VARCHAR},
      </if>
      <if test="imgCreateTime != null">
        img_create_time = #{imgCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="imgUpdateTime != null">
        img_update_time = #{imgUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="imgOpenFlag != null">
        img_open_flag = #{imgOpenFlag,jdbcType=VARCHAR},
      </if>
      <if test="imgStatus != null">
        img_status = #{imgStatus,jdbcType=INTEGER},
      </if>
    </set>
    where img_id = #{imgId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsl.tracedb.model.ImageFile">
    update image_file
    set img_location_server = #{imgLocationServer,jdbcType=VARCHAR},
      img_location = #{imgLocation,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      img_system_id = #{imgSystemId,jdbcType=VARCHAR},
      img_flag = #{imgFlag,jdbcType=VARCHAR},
      img_attribute = #{imgAttribute,jdbcType=VARCHAR},
      img_specific_unique_value = #{imgSpecificUniqueValue,jdbcType=VARCHAR},
      img_param = #{imgParam,jdbcType=VARCHAR},
      img_remark = #{imgRemark,jdbcType=VARCHAR},
      img_type = #{imgType,jdbcType=VARCHAR},
      img_create_time = #{imgCreateTime,jdbcType=TIMESTAMP},
      img_update_time = #{imgUpdateTime,jdbcType=TIMESTAMP},
      img_open_flag = #{imgOpenFlag,jdbcType=VARCHAR},
      img_status = #{imgStatus,jdbcType=INTEGER}
    where img_id = #{imgId,jdbcType=VARCHAR}
  </update>
</mapper>