<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.tracedb.mapper.MerchantMapper">
  <resultMap id="BaseResultMap" type="com.zsl.tracedb.model.Merchant">
    <id column="merchant_id" jdbcType="INTEGER" property="merchantId" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    <result column="merchant_account" jdbcType="VARCHAR" property="merchantAccount" />
    <result column="adminstration_id" jdbcType="INTEGER" property="adminstrationId" />
    <result column="administrative_division_full_site" jdbcType="VARCHAR" property="administrativeDivisionFullSite" />
    <result column="merchant_detail_site" jdbcType="VARCHAR" property="merchantDetailSite" />
    <result column="merchant_url" jdbcType="VARCHAR" property="merchantUrl" />
    <result column="net_type" jdbcType="INTEGER" property="netType" />
    <result column="merchant_coin" jdbcType="INTEGER" property="merchantCoin" />
    <result column="alliance_business_id" jdbcType="INTEGER" property="allianceBusinessId" />
    <result column="merchant_type" jdbcType="INTEGER" property="merchantType" />
    <result column="leal_person_name" jdbcType="VARCHAR" property="lealPersonName" />
    <result column="papers_url" jdbcType="VARCHAR" property="papersUrl" />
    <result column="papers_back_url" jdbcType="VARCHAR" property="papersBackUrl" />
    <result column="papers_number" jdbcType="VARCHAR" property="papersNumber" />
    <result column="business_lines" jdbcType="VARCHAR" property="businessLines" />
    <result column="merchant_contact" jdbcType="VARCHAR" property="merchantContact" />
    <result column="contact_number" jdbcType="VARCHAR" property="contactNumber" />
    <result column="merchant_enter_time" jdbcType="TIMESTAMP" property="merchantEnterTime" />
    <result column="merchant_status" jdbcType="INTEGER" property="merchantStatus" />
    <result column="short_video_url" jdbcType="VARCHAR" property="shortVideoUrl" />
    <result column="certification_to_pay" jdbcType="TINYINT" property="certificationToPay" />
    <result column="merchant_desciption" jdbcType="VARCHAR" property="merchantDesciption" />
    <result column="stall_limit" jdbcType="INTEGER" property="stallLimit" />
    <result column="paper_label_upper" jdbcType="BIGINT" property="paperLabelUpper" />
    <result column="site_abscissa" jdbcType="VARCHAR" property="siteAbscissa" />
    <result column="site_ordinate" jdbcType="VARCHAR" property="siteOrdinate" />
    <result column="discern_site" jdbcType="VARCHAR" property="discernSite" />
    <result column="sales_url" jdbcType="VARCHAR" property="salesUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    merchant_id, merchant_name, merchant_account, adminstration_id, administrative_division_full_site, 
    merchant_detail_site, merchant_url, net_type, merchant_coin, alliance_business_id, 
    merchant_type, leal_person_name, papers_url, papers_back_url, papers_number, business_lines, 
    merchant_contact, contact_number, merchant_enter_time, merchant_status, short_video_url, 
    certification_to_pay, merchant_desciption, stall_limit, paper_label_upper, site_abscissa, 
    site_ordinate, discern_site, sales_url
  </sql>
  <select id="selectByExample" parameterType="com.zsl.tracedb.model.MerchantExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from merchant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from merchant
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsl.tracedb.model.MerchantExample">
    delete from merchant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsl.tracedb.model.Merchant">
    <selectKey keyProperty="merchantId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into merchant (merchant_name, merchant_account, adminstration_id, 
      administrative_division_full_site, merchant_detail_site, 
      merchant_url, net_type, merchant_coin, 
      alliance_business_id, merchant_type, leal_person_name, 
      papers_url, papers_back_url, papers_number, 
      business_lines, merchant_contact, contact_number, 
      merchant_enter_time, merchant_status, short_video_url, 
      certification_to_pay, merchant_desciption, 
      stall_limit, paper_label_upper, site_abscissa, 
      site_ordinate, discern_site, sales_url
      )
    values (#{merchantName,jdbcType=VARCHAR}, #{merchantAccount,jdbcType=VARCHAR}, #{adminstrationId,jdbcType=INTEGER}, 
      #{administrativeDivisionFullSite,jdbcType=VARCHAR}, #{merchantDetailSite,jdbcType=VARCHAR}, 
      #{merchantUrl,jdbcType=VARCHAR}, #{netType,jdbcType=INTEGER}, #{merchantCoin,jdbcType=INTEGER}, 
      #{allianceBusinessId,jdbcType=INTEGER}, #{merchantType,jdbcType=INTEGER}, #{lealPersonName,jdbcType=VARCHAR}, 
      #{papersUrl,jdbcType=VARCHAR}, #{papersBackUrl,jdbcType=VARCHAR}, #{papersNumber,jdbcType=VARCHAR}, 
      #{businessLines,jdbcType=VARCHAR}, #{merchantContact,jdbcType=VARCHAR}, #{contactNumber,jdbcType=VARCHAR}, 
      #{merchantEnterTime,jdbcType=TIMESTAMP}, #{merchantStatus,jdbcType=INTEGER}, #{shortVideoUrl,jdbcType=VARCHAR}, 
      #{certificationToPay,jdbcType=TINYINT}, #{merchantDesciption,jdbcType=VARCHAR}, 
      #{stallLimit,jdbcType=INTEGER}, #{paperLabelUpper,jdbcType=BIGINT}, #{siteAbscissa,jdbcType=VARCHAR}, 
      #{siteOrdinate,jdbcType=VARCHAR}, #{discernSite,jdbcType=VARCHAR}, #{salesUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zsl.tracedb.model.Merchant">
    <selectKey keyProperty="merchantId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into merchant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="merchantName != null">
        merchant_name,
      </if>
      <if test="merchantAccount != null">
        merchant_account,
      </if>
      <if test="adminstrationId != null">
        adminstration_id,
      </if>
      <if test="administrativeDivisionFullSite != null">
        administrative_division_full_site,
      </if>
      <if test="merchantDetailSite != null">
        merchant_detail_site,
      </if>
      <if test="merchantUrl != null">
        merchant_url,
      </if>
      <if test="netType != null">
        net_type,
      </if>
      <if test="merchantCoin != null">
        merchant_coin,
      </if>
      <if test="allianceBusinessId != null">
        alliance_business_id,
      </if>
      <if test="merchantType != null">
        merchant_type,
      </if>
      <if test="lealPersonName != null">
        leal_person_name,
      </if>
      <if test="papersUrl != null">
        papers_url,
      </if>
      <if test="papersBackUrl != null">
        papers_back_url,
      </if>
      <if test="papersNumber != null">
        papers_number,
      </if>
      <if test="businessLines != null">
        business_lines,
      </if>
      <if test="merchantContact != null">
        merchant_contact,
      </if>
      <if test="contactNumber != null">
        contact_number,
      </if>
      <if test="merchantEnterTime != null">
        merchant_enter_time,
      </if>
      <if test="merchantStatus != null">
        merchant_status,
      </if>
      <if test="shortVideoUrl != null">
        short_video_url,
      </if>
      <if test="certificationToPay != null">
        certification_to_pay,
      </if>
      <if test="merchantDesciption != null">
        merchant_desciption,
      </if>
      <if test="stallLimit != null">
        stall_limit,
      </if>
      <if test="paperLabelUpper != null">
        paper_label_upper,
      </if>
      <if test="siteAbscissa != null">
        site_abscissa,
      </if>
      <if test="siteOrdinate != null">
        site_ordinate,
      </if>
      <if test="discernSite != null">
        discern_site,
      </if>
      <if test="salesUrl != null">
        sales_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="merchantName != null">
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantAccount != null">
        #{merchantAccount,jdbcType=VARCHAR},
      </if>
      <if test="adminstrationId != null">
        #{adminstrationId,jdbcType=INTEGER},
      </if>
      <if test="administrativeDivisionFullSite != null">
        #{administrativeDivisionFullSite,jdbcType=VARCHAR},
      </if>
      <if test="merchantDetailSite != null">
        #{merchantDetailSite,jdbcType=VARCHAR},
      </if>
      <if test="merchantUrl != null">
        #{merchantUrl,jdbcType=VARCHAR},
      </if>
      <if test="netType != null">
        #{netType,jdbcType=INTEGER},
      </if>
      <if test="merchantCoin != null">
        #{merchantCoin,jdbcType=INTEGER},
      </if>
      <if test="allianceBusinessId != null">
        #{allianceBusinessId,jdbcType=INTEGER},
      </if>
      <if test="merchantType != null">
        #{merchantType,jdbcType=INTEGER},
      </if>
      <if test="lealPersonName != null">
        #{lealPersonName,jdbcType=VARCHAR},
      </if>
      <if test="papersUrl != null">
        #{papersUrl,jdbcType=VARCHAR},
      </if>
      <if test="papersBackUrl != null">
        #{papersBackUrl,jdbcType=VARCHAR},
      </if>
      <if test="papersNumber != null">
        #{papersNumber,jdbcType=VARCHAR},
      </if>
      <if test="businessLines != null">
        #{businessLines,jdbcType=VARCHAR},
      </if>
      <if test="merchantContact != null">
        #{merchantContact,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="merchantEnterTime != null">
        #{merchantEnterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="merchantStatus != null">
        #{merchantStatus,jdbcType=INTEGER},
      </if>
      <if test="shortVideoUrl != null">
        #{shortVideoUrl,jdbcType=VARCHAR},
      </if>
      <if test="certificationToPay != null">
        #{certificationToPay,jdbcType=TINYINT},
      </if>
      <if test="merchantDesciption != null">
        #{merchantDesciption,jdbcType=VARCHAR},
      </if>
      <if test="stallLimit != null">
        #{stallLimit,jdbcType=INTEGER},
      </if>
      <if test="paperLabelUpper != null">
        #{paperLabelUpper,jdbcType=BIGINT},
      </if>
      <if test="siteAbscissa != null">
        #{siteAbscissa,jdbcType=VARCHAR},
      </if>
      <if test="siteOrdinate != null">
        #{siteOrdinate,jdbcType=VARCHAR},
      </if>
      <if test="discernSite != null">
        #{discernSite,jdbcType=VARCHAR},
      </if>
      <if test="salesUrl != null">
        #{salesUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsl.tracedb.model.MerchantExample" resultType="java.lang.Integer">
    select count(*) from merchant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update merchant
    <set>
      <if test="record.merchantId != null">
        merchant_id = #{record.merchantId,jdbcType=INTEGER},
      </if>
      <if test="record.merchantName != null">
        merchant_name = #{record.merchantName,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantAccount != null">
        merchant_account = #{record.merchantAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.adminstrationId != null">
        adminstration_id = #{record.adminstrationId,jdbcType=INTEGER},
      </if>
      <if test="record.administrativeDivisionFullSite != null">
        administrative_division_full_site = #{record.administrativeDivisionFullSite,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantDetailSite != null">
        merchant_detail_site = #{record.merchantDetailSite,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantUrl != null">
        merchant_url = #{record.merchantUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.netType != null">
        net_type = #{record.netType,jdbcType=INTEGER},
      </if>
      <if test="record.merchantCoin != null">
        merchant_coin = #{record.merchantCoin,jdbcType=INTEGER},
      </if>
      <if test="record.allianceBusinessId != null">
        alliance_business_id = #{record.allianceBusinessId,jdbcType=INTEGER},
      </if>
      <if test="record.merchantType != null">
        merchant_type = #{record.merchantType,jdbcType=INTEGER},
      </if>
      <if test="record.lealPersonName != null">
        leal_person_name = #{record.lealPersonName,jdbcType=VARCHAR},
      </if>
      <if test="record.papersUrl != null">
        papers_url = #{record.papersUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.papersBackUrl != null">
        papers_back_url = #{record.papersBackUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.papersNumber != null">
        papers_number = #{record.papersNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.businessLines != null">
        business_lines = #{record.businessLines,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantContact != null">
        merchant_contact = #{record.merchantContact,jdbcType=VARCHAR},
      </if>
      <if test="record.contactNumber != null">
        contact_number = #{record.contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantEnterTime != null">
        merchant_enter_time = #{record.merchantEnterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.merchantStatus != null">
        merchant_status = #{record.merchantStatus,jdbcType=INTEGER},
      </if>
      <if test="record.shortVideoUrl != null">
        short_video_url = #{record.shortVideoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.certificationToPay != null">
        certification_to_pay = #{record.certificationToPay,jdbcType=TINYINT},
      </if>
      <if test="record.merchantDesciption != null">
        merchant_desciption = #{record.merchantDesciption,jdbcType=VARCHAR},
      </if>
      <if test="record.stallLimit != null">
        stall_limit = #{record.stallLimit,jdbcType=INTEGER},
      </if>
      <if test="record.paperLabelUpper != null">
        paper_label_upper = #{record.paperLabelUpper,jdbcType=BIGINT},
      </if>
      <if test="record.siteAbscissa != null">
        site_abscissa = #{record.siteAbscissa,jdbcType=VARCHAR},
      </if>
      <if test="record.siteOrdinate != null">
        site_ordinate = #{record.siteOrdinate,jdbcType=VARCHAR},
      </if>
      <if test="record.discernSite != null">
        discern_site = #{record.discernSite,jdbcType=VARCHAR},
      </if>
      <if test="record.salesUrl != null">
        sales_url = #{record.salesUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update merchant
    set merchant_id = #{record.merchantId,jdbcType=INTEGER},
      merchant_name = #{record.merchantName,jdbcType=VARCHAR},
      merchant_account = #{record.merchantAccount,jdbcType=VARCHAR},
      adminstration_id = #{record.adminstrationId,jdbcType=INTEGER},
      administrative_division_full_site = #{record.administrativeDivisionFullSite,jdbcType=VARCHAR},
      merchant_detail_site = #{record.merchantDetailSite,jdbcType=VARCHAR},
      merchant_url = #{record.merchantUrl,jdbcType=VARCHAR},
      net_type = #{record.netType,jdbcType=INTEGER},
      merchant_coin = #{record.merchantCoin,jdbcType=INTEGER},
      alliance_business_id = #{record.allianceBusinessId,jdbcType=INTEGER},
      merchant_type = #{record.merchantType,jdbcType=INTEGER},
      leal_person_name = #{record.lealPersonName,jdbcType=VARCHAR},
      papers_url = #{record.papersUrl,jdbcType=VARCHAR},
      papers_back_url = #{record.papersBackUrl,jdbcType=VARCHAR},
      papers_number = #{record.papersNumber,jdbcType=VARCHAR},
      business_lines = #{record.businessLines,jdbcType=VARCHAR},
      merchant_contact = #{record.merchantContact,jdbcType=VARCHAR},
      contact_number = #{record.contactNumber,jdbcType=VARCHAR},
      merchant_enter_time = #{record.merchantEnterTime,jdbcType=TIMESTAMP},
      merchant_status = #{record.merchantStatus,jdbcType=INTEGER},
      short_video_url = #{record.shortVideoUrl,jdbcType=VARCHAR},
      certification_to_pay = #{record.certificationToPay,jdbcType=TINYINT},
      merchant_desciption = #{record.merchantDesciption,jdbcType=VARCHAR},
      stall_limit = #{record.stallLimit,jdbcType=INTEGER},
      paper_label_upper = #{record.paperLabelUpper,jdbcType=BIGINT},
      site_abscissa = #{record.siteAbscissa,jdbcType=VARCHAR},
      site_ordinate = #{record.siteOrdinate,jdbcType=VARCHAR},
      discern_site = #{record.discernSite,jdbcType=VARCHAR},
      sales_url = #{record.salesUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsl.tracedb.model.Merchant">
    update merchant
    <set>
      <if test="merchantName != null">
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantAccount != null">
        merchant_account = #{merchantAccount,jdbcType=VARCHAR},
      </if>
      <if test="adminstrationId != null">
        adminstration_id = #{adminstrationId,jdbcType=INTEGER},
      </if>
      <if test="administrativeDivisionFullSite != null">
        administrative_division_full_site = #{administrativeDivisionFullSite,jdbcType=VARCHAR},
      </if>
      <if test="merchantDetailSite != null">
        merchant_detail_site = #{merchantDetailSite,jdbcType=VARCHAR},
      </if>
      <if test="merchantUrl != null">
        merchant_url = #{merchantUrl,jdbcType=VARCHAR},
      </if>
      <if test="netType != null">
        net_type = #{netType,jdbcType=INTEGER},
      </if>
      <if test="merchantCoin != null">
        merchant_coin = #{merchantCoin,jdbcType=INTEGER},
      </if>
      <if test="allianceBusinessId != null">
        alliance_business_id = #{allianceBusinessId,jdbcType=INTEGER},
      </if>
      <if test="merchantType != null">
        merchant_type = #{merchantType,jdbcType=INTEGER},
      </if>
      <if test="lealPersonName != null">
        leal_person_name = #{lealPersonName,jdbcType=VARCHAR},
      </if>
      <if test="papersUrl != null">
        papers_url = #{papersUrl,jdbcType=VARCHAR},
      </if>
      <if test="papersBackUrl != null">
        papers_back_url = #{papersBackUrl,jdbcType=VARCHAR},
      </if>
      <if test="papersNumber != null">
        papers_number = #{papersNumber,jdbcType=VARCHAR},
      </if>
      <if test="businessLines != null">
        business_lines = #{businessLines,jdbcType=VARCHAR},
      </if>
      <if test="merchantContact != null">
        merchant_contact = #{merchantContact,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        contact_number = #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="merchantEnterTime != null">
        merchant_enter_time = #{merchantEnterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="merchantStatus != null">
        merchant_status = #{merchantStatus,jdbcType=INTEGER},
      </if>
      <if test="shortVideoUrl != null">
        short_video_url = #{shortVideoUrl,jdbcType=VARCHAR},
      </if>
      <if test="certificationToPay != null">
        certification_to_pay = #{certificationToPay,jdbcType=TINYINT},
      </if>
      <if test="merchantDesciption != null">
        merchant_desciption = #{merchantDesciption,jdbcType=VARCHAR},
      </if>
      <if test="stallLimit != null">
        stall_limit = #{stallLimit,jdbcType=INTEGER},
      </if>
      <if test="paperLabelUpper != null">
        paper_label_upper = #{paperLabelUpper,jdbcType=BIGINT},
      </if>
      <if test="siteAbscissa != null">
        site_abscissa = #{siteAbscissa,jdbcType=VARCHAR},
      </if>
      <if test="siteOrdinate != null">
        site_ordinate = #{siteOrdinate,jdbcType=VARCHAR},
      </if>
      <if test="discernSite != null">
        discern_site = #{discernSite,jdbcType=VARCHAR},
      </if>
      <if test="salesUrl != null">
        sales_url = #{salesUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsl.tracedb.model.Merchant">
    update merchant
    set merchant_name = #{merchantName,jdbcType=VARCHAR},
      merchant_account = #{merchantAccount,jdbcType=VARCHAR},
      adminstration_id = #{adminstrationId,jdbcType=INTEGER},
      administrative_division_full_site = #{administrativeDivisionFullSite,jdbcType=VARCHAR},
      merchant_detail_site = #{merchantDetailSite,jdbcType=VARCHAR},
      merchant_url = #{merchantUrl,jdbcType=VARCHAR},
      net_type = #{netType,jdbcType=INTEGER},
      merchant_coin = #{merchantCoin,jdbcType=INTEGER},
      alliance_business_id = #{allianceBusinessId,jdbcType=INTEGER},
      merchant_type = #{merchantType,jdbcType=INTEGER},
      leal_person_name = #{lealPersonName,jdbcType=VARCHAR},
      papers_url = #{papersUrl,jdbcType=VARCHAR},
      papers_back_url = #{papersBackUrl,jdbcType=VARCHAR},
      papers_number = #{papersNumber,jdbcType=VARCHAR},
      business_lines = #{businessLines,jdbcType=VARCHAR},
      merchant_contact = #{merchantContact,jdbcType=VARCHAR},
      contact_number = #{contactNumber,jdbcType=VARCHAR},
      merchant_enter_time = #{merchantEnterTime,jdbcType=TIMESTAMP},
      merchant_status = #{merchantStatus,jdbcType=INTEGER},
      short_video_url = #{shortVideoUrl,jdbcType=VARCHAR},
      certification_to_pay = #{certificationToPay,jdbcType=TINYINT},
      merchant_desciption = #{merchantDesciption,jdbcType=VARCHAR},
      stall_limit = #{stallLimit,jdbcType=INTEGER},
      paper_label_upper = #{paperLabelUpper,jdbcType=BIGINT},
      site_abscissa = #{siteAbscissa,jdbcType=VARCHAR},
      site_ordinate = #{siteOrdinate,jdbcType=VARCHAR},
      discern_site = #{discernSite,jdbcType=VARCHAR},
      sales_url = #{salesUrl,jdbcType=VARCHAR}
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </update>
</mapper>