<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.tracedb.mapper.MerchantAuthMapper">
  <resultMap id="BaseResultMap" type="com.zsl.tracedb.model.MerchantAuth">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="merchant_id" jdbcType="INTEGER" property="merchantId" />
    <result column="is_accept_protocol" jdbcType="INTEGER" property="isAcceptProtocol" />
    <result column="ip_site" jdbcType="VARCHAR" property="ipSite" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="auth_sum" jdbcType="REAL" property="authSum" />
    <result column="pay_certify" jdbcType="VARCHAR" property="payCertify" />
    <result column="pay_status" jdbcType="INTEGER" property="payStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_num, merchant_id, is_accept_protocol, ip_site, pay_type, auth_sum, pay_certify, 
    pay_status, create_time
  </sql>
  <select id="selectByExample" parameterType="com.zsl.tracedb.model.MerchantAuthExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from merchant_auth
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_auth
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from merchant_auth
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsl.tracedb.model.MerchantAuthExample">
    delete from merchant_auth
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsl.tracedb.model.MerchantAuth">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into merchant_auth (order_num, merchant_id, is_accept_protocol, 
      ip_site, pay_type, auth_sum, 
      pay_certify, pay_status, create_time
      )
    values (#{orderNum,jdbcType=VARCHAR}, #{merchantId,jdbcType=INTEGER}, #{isAcceptProtocol,jdbcType=INTEGER}, 
      #{ipSite,jdbcType=VARCHAR}, #{payType,jdbcType=INTEGER}, #{authSum,jdbcType=REAL}, 
      #{payCertify,jdbcType=VARCHAR}, #{payStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zsl.tracedb.model.MerchantAuth">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into merchant_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="isAcceptProtocol != null">
        is_accept_protocol,
      </if>
      <if test="ipSite != null">
        ip_site,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="authSum != null">
        auth_sum,
      </if>
      <if test="payCertify != null">
        pay_certify,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNum != null">
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="isAcceptProtocol != null">
        #{isAcceptProtocol,jdbcType=INTEGER},
      </if>
      <if test="ipSite != null">
        #{ipSite,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="authSum != null">
        #{authSum,jdbcType=REAL},
      </if>
      <if test="payCertify != null">
        #{payCertify,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsl.tracedb.model.MerchantAuthExample" resultType="java.lang.Integer">
    select count(*) from merchant_auth
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update merchant_auth
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderNum != null">
        order_num = #{record.orderNum,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantId != null">
        merchant_id = #{record.merchantId,jdbcType=INTEGER},
      </if>
      <if test="record.isAcceptProtocol != null">
        is_accept_protocol = #{record.isAcceptProtocol,jdbcType=INTEGER},
      </if>
      <if test="record.ipSite != null">
        ip_site = #{record.ipSite,jdbcType=VARCHAR},
      </if>
      <if test="record.payType != null">
        pay_type = #{record.payType,jdbcType=INTEGER},
      </if>
      <if test="record.authSum != null">
        auth_sum = #{record.authSum,jdbcType=REAL},
      </if>
      <if test="record.payCertify != null">
        pay_certify = #{record.payCertify,jdbcType=VARCHAR},
      </if>
      <if test="record.payStatus != null">
        pay_status = #{record.payStatus,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update merchant_auth
    set id = #{record.id,jdbcType=INTEGER},
      order_num = #{record.orderNum,jdbcType=VARCHAR},
      merchant_id = #{record.merchantId,jdbcType=INTEGER},
      is_accept_protocol = #{record.isAcceptProtocol,jdbcType=INTEGER},
      ip_site = #{record.ipSite,jdbcType=VARCHAR},
      pay_type = #{record.payType,jdbcType=INTEGER},
      auth_sum = #{record.authSum,jdbcType=REAL},
      pay_certify = #{record.payCertify,jdbcType=VARCHAR},
      pay_status = #{record.payStatus,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsl.tracedb.model.MerchantAuth">
    update merchant_auth
    <set>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="isAcceptProtocol != null">
        is_accept_protocol = #{isAcceptProtocol,jdbcType=INTEGER},
      </if>
      <if test="ipSite != null">
        ip_site = #{ipSite,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
      <if test="authSum != null">
        auth_sum = #{authSum,jdbcType=REAL},
      </if>
      <if test="payCertify != null">
        pay_certify = #{payCertify,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsl.tracedb.model.MerchantAuth">
    update merchant_auth
    set order_num = #{orderNum,jdbcType=VARCHAR},
      merchant_id = #{merchantId,jdbcType=INTEGER},
      is_accept_protocol = #{isAcceptProtocol,jdbcType=INTEGER},
      ip_site = #{ipSite,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=INTEGER},
      auth_sum = #{authSum,jdbcType=REAL},
      pay_certify = #{payCertify,jdbcType=VARCHAR},
      pay_status = #{payStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>