<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.tracedb.mapper.ZslProductionBatchBindSidMapper">
  <resultMap id="BaseResultMap" type="com.zsl.tracedb.model.ZslProductionBatchBindSid">
    <id column="batch_sid_id" jdbcType="INTEGER" property="batchSidId" />
    <result column="trace_code_no" jdbcType="VARCHAR" property="traceCodeNo" />
    <result column="trace_record_id" jdbcType="INTEGER" property="traceRecordId" />
    <result column="sid_start" jdbcType="BIGINT" property="sidStart" />
    <result column="production_batch_id" jdbcType="INTEGER" property="productionBatchId" />
    <result column="sid_end" jdbcType="BIGINT" property="sidEnd" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    batch_sid_id, trace_code_no, trace_record_id, sid_start, production_batch_id, sid_end, 
    create_time
  </sql>
  <select id="selectByExample" parameterType="com.zsl.tracedb.model.ZslProductionBatchBindSidExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zsl_production_batch_bind_sid
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zsl_production_batch_bind_sid
    where batch_sid_id = #{batchSidId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zsl_production_batch_bind_sid
    where batch_sid_id = #{batchSidId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsl.tracedb.model.ZslProductionBatchBindSidExample">
    delete from zsl_production_batch_bind_sid
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsl.tracedb.model.ZslProductionBatchBindSid">
    <selectKey keyProperty="batchSidId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zsl_production_batch_bind_sid (trace_code_no, trace_record_id, sid_start, 
      production_batch_id, sid_end, create_time
      )
    values (#{traceCodeNo,jdbcType=VARCHAR}, #{traceRecordId,jdbcType=INTEGER}, #{sidStart,jdbcType=BIGINT}, 
      #{productionBatchId,jdbcType=INTEGER}, #{sidEnd,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zsl.tracedb.model.ZslProductionBatchBindSid">
    <selectKey keyProperty="batchSidId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zsl_production_batch_bind_sid
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="traceCodeNo != null">
        trace_code_no,
      </if>
      <if test="traceRecordId != null">
        trace_record_id,
      </if>
      <if test="sidStart != null">
        sid_start,
      </if>
      <if test="productionBatchId != null">
        production_batch_id,
      </if>
      <if test="sidEnd != null">
        sid_end,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="traceCodeNo != null">
        #{traceCodeNo,jdbcType=VARCHAR},
      </if>
      <if test="traceRecordId != null">
        #{traceRecordId,jdbcType=INTEGER},
      </if>
      <if test="sidStart != null">
        #{sidStart,jdbcType=BIGINT},
      </if>
      <if test="productionBatchId != null">
        #{productionBatchId,jdbcType=INTEGER},
      </if>
      <if test="sidEnd != null">
        #{sidEnd,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsl.tracedb.model.ZslProductionBatchBindSidExample" resultType="java.lang.Integer">
    select count(*) from zsl_production_batch_bind_sid
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zsl_production_batch_bind_sid
    <set>
      <if test="record.batchSidId != null">
        batch_sid_id = #{record.batchSidId,jdbcType=INTEGER},
      </if>
      <if test="record.traceCodeNo != null">
        trace_code_no = #{record.traceCodeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.traceRecordId != null">
        trace_record_id = #{record.traceRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.sidStart != null">
        sid_start = #{record.sidStart,jdbcType=BIGINT},
      </if>
      <if test="record.productionBatchId != null">
        production_batch_id = #{record.productionBatchId,jdbcType=INTEGER},
      </if>
      <if test="record.sidEnd != null">
        sid_end = #{record.sidEnd,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zsl_production_batch_bind_sid
    set batch_sid_id = #{record.batchSidId,jdbcType=INTEGER},
      trace_code_no = #{record.traceCodeNo,jdbcType=VARCHAR},
      trace_record_id = #{record.traceRecordId,jdbcType=INTEGER},
      sid_start = #{record.sidStart,jdbcType=BIGINT},
      production_batch_id = #{record.productionBatchId,jdbcType=INTEGER},
      sid_end = #{record.sidEnd,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsl.tracedb.model.ZslProductionBatchBindSid">
    update zsl_production_batch_bind_sid
    <set>
      <if test="traceCodeNo != null">
        trace_code_no = #{traceCodeNo,jdbcType=VARCHAR},
      </if>
      <if test="traceRecordId != null">
        trace_record_id = #{traceRecordId,jdbcType=INTEGER},
      </if>
      <if test="sidStart != null">
        sid_start = #{sidStart,jdbcType=BIGINT},
      </if>
      <if test="productionBatchId != null">
        production_batch_id = #{productionBatchId,jdbcType=INTEGER},
      </if>
      <if test="sidEnd != null">
        sid_end = #{sidEnd,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where batch_sid_id = #{batchSidId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsl.tracedb.model.ZslProductionBatchBindSid">
    update zsl_production_batch_bind_sid
    set trace_code_no = #{traceCodeNo,jdbcType=VARCHAR},
      trace_record_id = #{traceRecordId,jdbcType=INTEGER},
      sid_start = #{sidStart,jdbcType=BIGINT},
      production_batch_id = #{productionBatchId,jdbcType=INTEGER},
      sid_end = #{sidEnd,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where batch_sid_id = #{batchSidId,jdbcType=INTEGER}
  </update>
</mapper>