<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.tracedb.mapper.ZslSceneBatchMapper">
  <resultMap id="BaseResultMap" type="com.zsl.tracedb.model.ZslSceneBatch">
    <id column="scene_batch_id" jdbcType="INTEGER" property="sceneBatchId" />
    <result column="scene_id" jdbcType="INTEGER" property="sceneId" />
    <result column="employe_id" jdbcType="INTEGER" property="employeId" />
    <result column="scene_time_scope" jdbcType="VARCHAR" property="sceneTimeScope" />
    <result column="batch_id" jdbcType="INTEGER" property="batchId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    scene_batch_id, scene_id, employe_id, scene_time_scope, batch_id, create_time
  </sql>
  <select id="selectByExample" parameterType="com.zsl.tracedb.model.ZslSceneBatchExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zsl_scene_batch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zsl_scene_batch
    where scene_batch_id = #{sceneBatchId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zsl_scene_batch
    where scene_batch_id = #{sceneBatchId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsl.tracedb.model.ZslSceneBatchExample">
    delete from zsl_scene_batch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsl.tracedb.model.ZslSceneBatch">
    <selectKey keyProperty="sceneBatchId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zsl_scene_batch (scene_id, employe_id, scene_time_scope, 
      batch_id, create_time)
    values (#{sceneId,jdbcType=INTEGER}, #{employeId,jdbcType=INTEGER}, #{sceneTimeScope,jdbcType=VARCHAR}, 
      #{batchId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zsl.tracedb.model.ZslSceneBatch">
    <selectKey keyProperty="sceneBatchId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zsl_scene_batch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sceneId != null">
        scene_id,
      </if>
      <if test="employeId != null">
        employe_id,
      </if>
      <if test="sceneTimeScope != null">
        scene_time_scope,
      </if>
      <if test="batchId != null">
        batch_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sceneId != null">
        #{sceneId,jdbcType=INTEGER},
      </if>
      <if test="employeId != null">
        #{employeId,jdbcType=INTEGER},
      </if>
      <if test="sceneTimeScope != null">
        #{sceneTimeScope,jdbcType=VARCHAR},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsl.tracedb.model.ZslSceneBatchExample" resultType="java.lang.Integer">
    select count(*) from zsl_scene_batch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zsl_scene_batch
    <set>
      <if test="record.sceneBatchId != null">
        scene_batch_id = #{record.sceneBatchId,jdbcType=INTEGER},
      </if>
      <if test="record.sceneId != null">
        scene_id = #{record.sceneId,jdbcType=INTEGER},
      </if>
      <if test="record.employeId != null">
        employe_id = #{record.employeId,jdbcType=INTEGER},
      </if>
      <if test="record.sceneTimeScope != null">
        scene_time_scope = #{record.sceneTimeScope,jdbcType=VARCHAR},
      </if>
      <if test="record.batchId != null">
        batch_id = #{record.batchId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zsl_scene_batch
    set scene_batch_id = #{record.sceneBatchId,jdbcType=INTEGER},
      scene_id = #{record.sceneId,jdbcType=INTEGER},
      employe_id = #{record.employeId,jdbcType=INTEGER},
      scene_time_scope = #{record.sceneTimeScope,jdbcType=VARCHAR},
      batch_id = #{record.batchId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsl.tracedb.model.ZslSceneBatch">
    update zsl_scene_batch
    <set>
      <if test="sceneId != null">
        scene_id = #{sceneId,jdbcType=INTEGER},
      </if>
      <if test="employeId != null">
        employe_id = #{employeId,jdbcType=INTEGER},
      </if>
      <if test="sceneTimeScope != null">
        scene_time_scope = #{sceneTimeScope,jdbcType=VARCHAR},
      </if>
      <if test="batchId != null">
        batch_id = #{batchId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where scene_batch_id = #{sceneBatchId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsl.tracedb.model.ZslSceneBatch">
    update zsl_scene_batch
    set scene_id = #{sceneId,jdbcType=INTEGER},
      employe_id = #{employeId,jdbcType=INTEGER},
      scene_time_scope = #{sceneTimeScope,jdbcType=VARCHAR},
      batch_id = #{batchId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where scene_batch_id = #{sceneBatchId,jdbcType=INTEGER}
  </update>
</mapper>