<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.tracedb.mapper.ZslTracePointMapper">
  <resultMap id="BaseResultMap" type="com.zsl.tracedb.model.ZslTracePoint">
    <id column="trace_point_id" jdbcType="INTEGER" property="tracePointId" />
    <result column="trace_goods_id" jdbcType="INTEGER" property="traceGoodsId" />
    <result column="trace_point_name" jdbcType="VARCHAR" property="tracePointName" />
    <result column="trace_point_to_number" jdbcType="INTEGER" property="tracePointToNumber" />
    <result column="trace_point_from_number" jdbcType="INTEGER" property="tracePointFromNumber" />
    <result column="trace_parent_id" jdbcType="INTEGER" property="traceParentId" />
    <result column="trace_stall_id" jdbcType="INTEGER" property="traceStallId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    trace_point_id, trace_goods_id, trace_point_name, trace_point_to_number, trace_point_from_number, 
    trace_parent_id, trace_stall_id
  </sql>
  <select id="selectByExample" parameterType="com.zsl.tracedb.model.ZslTracePointExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zsl_trace_point
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zsl_trace_point
    where trace_point_id = #{tracePointId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zsl_trace_point
    where trace_point_id = #{tracePointId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsl.tracedb.model.ZslTracePointExample">
    delete from zsl_trace_point
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsl.tracedb.model.ZslTracePoint">
    <selectKey keyProperty="tracePointId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zsl_trace_point (trace_goods_id, trace_point_name, trace_point_to_number, 
      trace_point_from_number, trace_parent_id, trace_stall_id
      )
    values (#{traceGoodsId,jdbcType=INTEGER}, #{tracePointName,jdbcType=VARCHAR}, #{tracePointToNumber,jdbcType=INTEGER}, 
      #{tracePointFromNumber,jdbcType=INTEGER}, #{traceParentId,jdbcType=INTEGER}, #{traceStallId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zsl.tracedb.model.ZslTracePoint">
    <selectKey keyProperty="tracePointId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zsl_trace_point
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="traceGoodsId != null">
        trace_goods_id,
      </if>
      <if test="tracePointName != null">
        trace_point_name,
      </if>
      <if test="tracePointToNumber != null">
        trace_point_to_number,
      </if>
      <if test="tracePointFromNumber != null">
        trace_point_from_number,
      </if>
      <if test="traceParentId != null">
        trace_parent_id,
      </if>
      <if test="traceStallId != null">
        trace_stall_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="traceGoodsId != null">
        #{traceGoodsId,jdbcType=INTEGER},
      </if>
      <if test="tracePointName != null">
        #{tracePointName,jdbcType=VARCHAR},
      </if>
      <if test="tracePointToNumber != null">
        #{tracePointToNumber,jdbcType=INTEGER},
      </if>
      <if test="tracePointFromNumber != null">
        #{tracePointFromNumber,jdbcType=INTEGER},
      </if>
      <if test="traceParentId != null">
        #{traceParentId,jdbcType=INTEGER},
      </if>
      <if test="traceStallId != null">
        #{traceStallId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsl.tracedb.model.ZslTracePointExample" resultType="java.lang.Integer">
    select count(*) from zsl_trace_point
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zsl_trace_point
    <set>
      <if test="record.tracePointId != null">
        trace_point_id = #{record.tracePointId,jdbcType=INTEGER},
      </if>
      <if test="record.traceGoodsId != null">
        trace_goods_id = #{record.traceGoodsId,jdbcType=INTEGER},
      </if>
      <if test="record.tracePointName != null">
        trace_point_name = #{record.tracePointName,jdbcType=VARCHAR},
      </if>
      <if test="record.tracePointToNumber != null">
        trace_point_to_number = #{record.tracePointToNumber,jdbcType=INTEGER},
      </if>
      <if test="record.tracePointFromNumber != null">
        trace_point_from_number = #{record.tracePointFromNumber,jdbcType=INTEGER},
      </if>
      <if test="record.traceParentId != null">
        trace_parent_id = #{record.traceParentId,jdbcType=INTEGER},
      </if>
      <if test="record.traceStallId != null">
        trace_stall_id = #{record.traceStallId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zsl_trace_point
    set trace_point_id = #{record.tracePointId,jdbcType=INTEGER},
      trace_goods_id = #{record.traceGoodsId,jdbcType=INTEGER},
      trace_point_name = #{record.tracePointName,jdbcType=VARCHAR},
      trace_point_to_number = #{record.tracePointToNumber,jdbcType=INTEGER},
      trace_point_from_number = #{record.tracePointFromNumber,jdbcType=INTEGER},
      trace_parent_id = #{record.traceParentId,jdbcType=INTEGER},
      trace_stall_id = #{record.traceStallId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsl.tracedb.model.ZslTracePoint">
    update zsl_trace_point
    <set>
      <if test="traceGoodsId != null">
        trace_goods_id = #{traceGoodsId,jdbcType=INTEGER},
      </if>
      <if test="tracePointName != null">
        trace_point_name = #{tracePointName,jdbcType=VARCHAR},
      </if>
      <if test="tracePointToNumber != null">
        trace_point_to_number = #{tracePointToNumber,jdbcType=INTEGER},
      </if>
      <if test="tracePointFromNumber != null">
        trace_point_from_number = #{tracePointFromNumber,jdbcType=INTEGER},
      </if>
      <if test="traceParentId != null">
        trace_parent_id = #{traceParentId,jdbcType=INTEGER},
      </if>
      <if test="traceStallId != null">
        trace_stall_id = #{traceStallId,jdbcType=INTEGER},
      </if>
    </set>
    where trace_point_id = #{tracePointId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsl.tracedb.model.ZslTracePoint">
    update zsl_trace_point
    set trace_goods_id = #{traceGoodsId,jdbcType=INTEGER},
      trace_point_name = #{tracePointName,jdbcType=VARCHAR},
      trace_point_to_number = #{tracePointToNumber,jdbcType=INTEGER},
      trace_point_from_number = #{tracePointFromNumber,jdbcType=INTEGER},
      trace_parent_id = #{traceParentId,jdbcType=INTEGER},
      trace_stall_id = #{traceStallId,jdbcType=INTEGER}
    where trace_point_id = #{tracePointId,jdbcType=INTEGER}
  </update>
</mapper>