<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.tracedb.mapper.ZslTraceSubcodeMapper">
  <resultMap id="BaseResultMap" type="com.zsl.tracedb.model.ZslTraceSubcode">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="trace_index" jdbcType="BIGINT" property="traceIndex" />
    <result column="trace_code_number" jdbcType="VARCHAR" property="traceCodeNumber" />
    <result column="trace_sub_code_number" jdbcType="VARCHAR" property="traceSubCodeNumber" />
    <result column="trace_good_id" jdbcType="INTEGER" property="traceGoodId" />
    <result column="trace_stall_id" jdbcType="INTEGER" property="traceStallId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="is_leaf" jdbcType="CHAR" property="isLeaf" />
    <result column="node_level" jdbcType="INTEGER" property="nodeLevel" />
    <result column="scan_count" jdbcType="BIGINT" property="scanCount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, trace_index, trace_code_number, trace_sub_code_number, trace_good_id, trace_stall_id, 
    parent_id, is_leaf, node_level, scan_count
  </sql>
  <select id="selectByExample" parameterType="com.zsl.tracedb.model.ZslTraceSubcodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zsl_trace_subcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zsl_trace_subcode
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zsl_trace_subcode
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsl.tracedb.model.ZslTraceSubcodeExample">
    delete from zsl_trace_subcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsl.tracedb.model.ZslTraceSubcode">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zsl_trace_subcode (trace_index, trace_code_number, trace_sub_code_number, 
      trace_good_id, trace_stall_id, parent_id, 
      is_leaf, node_level, scan_count
      )
    values (#{traceIndex,jdbcType=BIGINT}, #{traceCodeNumber,jdbcType=VARCHAR}, #{traceSubCodeNumber,jdbcType=VARCHAR}, 
      #{traceGoodId,jdbcType=INTEGER}, #{traceStallId,jdbcType=INTEGER}, #{parentId,jdbcType=BIGINT}, 
      #{isLeaf,jdbcType=CHAR}, #{nodeLevel,jdbcType=INTEGER}, #{scanCount,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zsl.tracedb.model.ZslTraceSubcode">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zsl_trace_subcode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="traceIndex != null">
        trace_index,
      </if>
      <if test="traceCodeNumber != null">
        trace_code_number,
      </if>
      <if test="traceSubCodeNumber != null">
        trace_sub_code_number,
      </if>
      <if test="traceGoodId != null">
        trace_good_id,
      </if>
      <if test="traceStallId != null">
        trace_stall_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="isLeaf != null">
        is_leaf,
      </if>
      <if test="nodeLevel != null">
        node_level,
      </if>
      <if test="scanCount != null">
        scan_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="traceIndex != null">
        #{traceIndex,jdbcType=BIGINT},
      </if>
      <if test="traceCodeNumber != null">
        #{traceCodeNumber,jdbcType=VARCHAR},
      </if>
      <if test="traceSubCodeNumber != null">
        #{traceSubCodeNumber,jdbcType=VARCHAR},
      </if>
      <if test="traceGoodId != null">
        #{traceGoodId,jdbcType=INTEGER},
      </if>
      <if test="traceStallId != null">
        #{traceStallId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="isLeaf != null">
        #{isLeaf,jdbcType=CHAR},
      </if>
      <if test="nodeLevel != null">
        #{nodeLevel,jdbcType=INTEGER},
      </if>
      <if test="scanCount != null">
        #{scanCount,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsl.tracedb.model.ZslTraceSubcodeExample" resultType="java.lang.Integer">
    select count(*) from zsl_trace_subcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zsl_trace_subcode
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.traceIndex != null">
        trace_index = #{record.traceIndex,jdbcType=BIGINT},
      </if>
      <if test="record.traceCodeNumber != null">
        trace_code_number = #{record.traceCodeNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.traceSubCodeNumber != null">
        trace_sub_code_number = #{record.traceSubCodeNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.traceGoodId != null">
        trace_good_id = #{record.traceGoodId,jdbcType=INTEGER},
      </if>
      <if test="record.traceStallId != null">
        trace_stall_id = #{record.traceStallId,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.isLeaf != null">
        is_leaf = #{record.isLeaf,jdbcType=CHAR},
      </if>
      <if test="record.nodeLevel != null">
        node_level = #{record.nodeLevel,jdbcType=INTEGER},
      </if>
      <if test="record.scanCount != null">
        scan_count = #{record.scanCount,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zsl_trace_subcode
    set id = #{record.id,jdbcType=BIGINT},
      trace_index = #{record.traceIndex,jdbcType=BIGINT},
      trace_code_number = #{record.traceCodeNumber,jdbcType=VARCHAR},
      trace_sub_code_number = #{record.traceSubCodeNumber,jdbcType=VARCHAR},
      trace_good_id = #{record.traceGoodId,jdbcType=INTEGER},
      trace_stall_id = #{record.traceStallId,jdbcType=INTEGER},
      parent_id = #{record.parentId,jdbcType=BIGINT},
      is_leaf = #{record.isLeaf,jdbcType=CHAR},
      node_level = #{record.nodeLevel,jdbcType=INTEGER},
      scan_count = #{record.scanCount,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsl.tracedb.model.ZslTraceSubcode">
    update zsl_trace_subcode
    <set>
      <if test="traceIndex != null">
        trace_index = #{traceIndex,jdbcType=BIGINT},
      </if>
      <if test="traceCodeNumber != null">
        trace_code_number = #{traceCodeNumber,jdbcType=VARCHAR},
      </if>
      <if test="traceSubCodeNumber != null">
        trace_sub_code_number = #{traceSubCodeNumber,jdbcType=VARCHAR},
      </if>
      <if test="traceGoodId != null">
        trace_good_id = #{traceGoodId,jdbcType=INTEGER},
      </if>
      <if test="traceStallId != null">
        trace_stall_id = #{traceStallId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="isLeaf != null">
        is_leaf = #{isLeaf,jdbcType=CHAR},
      </if>
      <if test="nodeLevel != null">
        node_level = #{nodeLevel,jdbcType=INTEGER},
      </if>
      <if test="scanCount != null">
        scan_count = #{scanCount,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsl.tracedb.model.ZslTraceSubcode">
    update zsl_trace_subcode
    set trace_index = #{traceIndex,jdbcType=BIGINT},
      trace_code_number = #{traceCodeNumber,jdbcType=VARCHAR},
      trace_sub_code_number = #{traceSubCodeNumber,jdbcType=VARCHAR},
      trace_good_id = #{traceGoodId,jdbcType=INTEGER},
      trace_stall_id = #{traceStallId,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=BIGINT},
      is_leaf = #{isLeaf,jdbcType=CHAR},
      node_level = #{nodeLevel,jdbcType=INTEGER},
      scan_count = #{scanCount,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>